@charset "utf-8";
#container{
    color: #7a7a7a;
    padding-bottom: 10%;
}
#content{
    padding: 15% 4% 10%;
    background-color: #ffffff;
}
p{
    font-size: 14px;
}
#logo{
    padding-left: 10%;
}
#logo>img{
    width: 30%;
    margin: 0 auto 15%;
    display: block;
}
#footer{
    text-align: center;
    margin-top: 35%;
}